@page
@model Prj_ConsultaNotas_SO_DG.Pages.NotasPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Notas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Notas.Docente_Id" class="control-label"></label>
                <select asp-for="Notas.Docente_Id" class ="form-control" asp-items="ViewBag.Docente_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Notas.Estudiante_Id" class="control-label"></label>
                <select asp-for="Notas.Estudiante_Id" class ="form-control" asp-items="ViewBag.Estudiante_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Notas.Asignatura_Id" class="control-label"></label>
                <select asp-for="Notas.Asignatura_Id" class ="form-control" asp-items="ViewBag.Asignatura_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Notas.Nota1" class="control-label"></label>
                <input asp-for="Notas.Nota1" class="form-control" />
                <span asp-validation-for="Notas.Nota1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas.Nota2" class="control-label"></label>
                <input asp-for="Notas.Nota2" class="form-control" />
                <span asp-validation-for="Notas.Nota2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas.Nota3" class="control-label"></label>
                <input asp-for="Notas.Nota3" class="form-control" />
                <span asp-validation-for="Notas.Nota3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
