@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <a asp-page="./AsignaturaPage/Index">Prueba</a>
        <a asp-page="./EstudiantePage/Index">Prueba2</a>
        <a asp-page="./DocentePage/Index">Prueba3</a>
        <a asp-page="./NotasPage/Index">Prueba4</a>
    </div>
